a{
	color:white;
	text-decoration: none;
}
a:hover{
	color:white;
	text-decoration: none;
}
.initial{
	margin-top: 200px;
	text-align: center;
}
.warning{
	margin-top: 200px;
	text-align: center;
	font-family: sans-serif;
}
.warning button{
	margin-top: 20px;
}

.reperr{
	margin-top: 170px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}
.reperr input{ 
	width: 60%;
}
.reperr h3{
	text-align:center; 
}
.hide{
	display: none;
}
.quiz-box{
	margin-left: 20%;
	margin-top: 170px;
	text-align: center;
	margin-right: 20%;
}
.quiz-box .question-number{
	text-align: left;
	font-size:18px;
	color:#009688;
	font-weight: 600; 
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	line-height: 25px;
}
.quiz-box .question-text{
	font-size:22px;
	color:#000000;
	line-height: 28px;
	font-weight: 400;
	padding: 20px 0;
	margin: 0;
	text-align: left;
}
.quiz-box .options-container .option{
	background-color: #cccccc;
	padding:15px;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: capitalize;
	opacity: 0;
	animation: fadeIn 0.3s forwards;
	position: relative;
	overflow: hidden;
	
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.motivationpic h2,p{
	margin-left: 40px;
}
.motivationpic h2{
	font-family: sans-serif;
	font-weight: 450;
}
.listofquiz ul{
	margin-top: 10px;
}
.listofquiz button{
	float: right;
	margin-right: 7%;
}
.listborder{
padding-bottom: 10px;
margin-left: 37px;
border-bottom: 1px solid #cccccc;
width: 90%;
}
.accordion{
	margin-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 30px;
	min-width: 80%;
}
.carousel-inner{
	background-color: #cccccc;
	margin-top: 55px;
}
.carousel-inner img{
	width: 90%;
	display: inline-block;
	height: 550px;
	padding-left: 10%;
}

#imaleft{
	margin-left: 9px;
}
#inaright{
	margin-right: 7px;
}
.quiz-box .options-container .option.already-answered{
	pointer-events: none;
}	
.quiz-box .options-container .option.correct::before{
	content: '';
	position:absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: green;
	z-index: -1;
	animation: slideInLeft 0.5s ease forwards;
}	
.quiz-box .options-container .option.correct{
	color: white;
}
.quiz-box .options-container .option.wrong::before{
	content: '';
	position:absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: red;
	z-index: -1;
	animation: slideInLeft 0.5s ease forwards;
}	
.quiz-box .options-container .option.wrong{
	color: white;
}
.quiz-box .options-container .option.wrongcor::before{
	content: '';
	position:absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: green;
	z-index: -1;
	animation: slideInLeft 0.5s ease forwards;
}	
.quiz-box .options-container .option.wrongcor{
	color: white;
}
@keyframes slideInLeft{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}
.quiz-box .next-button{
	text-align: left;
	margin-top: 30px;
}
.quiz-box .btn{
	color: white;
	height: 50px;
	width: 80px;
	background-color: #009688;

}
.quiz-box .answer-indicator{
	margin-top:25px;
	border-top: 1px solid #cccccc;

}
.quiz-box .answer-indicator div{
	float: left;
	height: 30px;
	width: 30px;
	display: inline-block;
	background-color: #CCCCCC;
	border-radius: 50%;
	margin-right: 2px;
	margin-top: 15px;
}
.quiz-box .answer-indicator div.correct{
	background-color: green;
}
.quiz-box .answer-indicator div.wrong{
	background-color: red;
}
.instruction-box{
	margin-top: 200px;
	text-align: center;
	font-family: sans-serif;
}
.instruction-box h3{
	font-weight: 540;
}
.instruction-box span{
	font-weight: 540;
}
.instruction-box .btn{
	color: white;
	height: 50px;
	width: 100px;
	background-color: #009688;
}	
.result-box{
	text-align: center;
	margin-top: 170px;
}
.result-box h1{
	font-size: 36px;
	line-height: 42px;
	color: #009688;
	margin-bottom: 50px;

}
.result-box table{
	margin-left: 15%;
	width:70%;

}
.result-box table td{
	border:1px solid #cccccc;
	border-collapse: collapse;
	margin: 30px 0;
	padding: 8px 15px;
	font-weight: 500;
	color: #000000;
	text-align: left;
	font-size:18px;
}
.result-box .btn{
	margin-top: 40px;
	margin-right:120px;
	margin-left: 120px;
	color: white;
	height: 50px;
	width: 100px;
	background-color: #009688;
}
.optioncards{
	display: inline-block;
}
.card{
	display: inline-block;
	margin-left: 7%;
	margin-right: 7%px;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 22%;
	text-align: center;
}
.card p{
	margin-left: 2px;
	text-align: center;
}
.card a{
	background-color: #32CD32;
	padding: 5px;
	border-radius: 7px;
}
@media screen and (max-width: 747px){
	.fixed-top{
		height: 100px;
	}
	.initial{
		font-weight: 800;
	}
	.carousel-inner img{
		height: 300px;
	}
	.quiz-box{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 100px;
		margin-bottom: 50px;
	}
	.result-box{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 100px;
		margin-bottom: 100px;
	}

}