/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  width: 100%;
  font-weight: bold;
}
.outer{
	margin-top: 75px;
	margin-left: 5%;
    margin-right: 5%;
}
.btn-success{
	float: right;
}
.listborder{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 7px;
	margin-left: 30px;
	margin-right: 10px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.panel ul{
	padding-top: 7px;
}